body {
  background-color: lightgray;
}

div.bird {
  margin: 10px 0;
  width: 200px;
  height: 75px;
  display: inline-block;
}

h1 {
  color: green;
}

a {
  margin-top: 30px;
  display: block;
}

.delete {
  margin-left: 20px;
}
